.title {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    {

.h1 {
    font-family:arial;
    font-size:20px;
}

.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    {





